<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>price</key>
		<string>1</string>
		<key>desc</key>
		<string>本店特色之一。麻辣鲜嫩，滑利爽口。赞不绝口。</string>
		<key>icon</key>
		<string>NiuRouDouHua.png</string>
		<key>name</key>
		<string>牛肉豆花</string>
	</dict>
	<dict>
		<key>price</key>
		<string>1</string>
		<key>desc</key>
		<string>本店特色之一。麻辣香甜，回味无穷。</string>
		<key>icon</key>
		<string>HeiZhiMaShuiJiao.png</string>
		<key>name</key>
		<string>黑芝麻水饺</string>
	</dict>
	<dict>
		<key>price</key>
		<string>1</string>
		<key>desc</key>
		<string>冷热都可享用。</string>
		<key>icon</key>
		<string>BaBaoZhou.png</string>
		<key>name</key>
		<string>八宝粥</string>
	</dict>
	<dict>
		<key>price</key>
		<string>1</string>
		<key>desc</key>
		<string>与其他地方的豆瓣抄手都不一样</string>
		<key>icon</key>
		<string>DouBanChaoShou.png</string>
		<key>name</key>
		<string>豆瓣抄手</string>
	</dict>
	<dict>
		<key>price</key>
		<string></string>
		<key>desc</key>
		<string>纯正四川火锅风味。香。</string>
		<key>icon</key>
		<string>HuoGuoFen.png</string>
		<key>name</key>
		<string>火锅粉</string>
	</dict>
	<dict>
		<key>price</key>
		<string></string>
		<key>desc</key>
		<string>到处都有牛肉面。但是我们的牛肉面最好吃</string>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>牛肉面</string>
	</dict>
	<dict>
		<key>price</key>
		<string></string>
		<key>desc</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>醉豆花</string>
	</dict>
	<dict>
		<key>price</key>
		<string></string>
		<key>desc</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>可乐一杯</string>
	</dict>
</array>
</plist>
